<div class="flex flex-column gap-3 p-3">
  @for(s of takip; track s.siparisId){
    <p-card>
      <div class="flex justify-content-between align-items-center mb-4">
        <span class="text-xl font-bold">Sipariş #{{ s.siparisId }}</span>

        @if(s.siparisDurumu === 'IPTAL'){
          <p-tag value="İptal Edildi" severity="danger" icon="pi pi-times" />
        } @else {
          <p-tag [value]="s.siparisDurumu" severity="info" />
        }
      </div>

      @if(s.siparisDurumu !== 'IPTAL'){
        <p-steps [model]="durumAdimlari"
                 [activeIndex]="durumIndex(s.siparisDurumu)"
                 [readonly]="true" />
      }
    </p-card>
  }
</div>
